@font-face {
    font-family:"Roboto-LightItalic" ;
    src: url(../css-website/fonts/Roboto-LightItalic.ttf) format('truetype');
}
@font-face {
    font-family:"Roboto" ;
    src: url(../css-website/fonts/Roboto-Bold.ttf) format('truetype');
}
:root{
    --dark-background-color:#1F2937;
    --section-background-color: #E5E7EB;
    --bottom-background-color:#3882F6;
}

body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto";
}

header{
    display: flex;
    justify-content: space-between;
    padding : 2% 5% 0% 5%;
    background-color: var(--dark-background-color);
}
header img{
    width: 7rem;
    height: 7rem;
    padding-bottom: 2%;
    
}
header nav a{
    color: var(--section-background-color);
    font-size: 18px;
    margin: 0.7rem;
    text-decoration: none;
}
.welcome-section{
    background-color: var(--dark-background-color);
    color: var(--section-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.welcome-section h1{
    margin-top: 0;
    border: none;
    padding:2rem;
}
.welcome-text{
    padding: 2rem;
    flex-direction: column;
}
.welcome-text button{
    background-color:var(--bottom-background-color);
    border-radius: 5px;
    border:0;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;

}
.welcome-section img{
    width: 40rem;
    height: 20rem;
    padding: 5rem;
}
section h2{
    text-align: center;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.submenu{
    display: flex;
    flex-direction: column;
}
.submenu h4{
    text-align: center;
}
.submenu a{
  text-decoration: none;
  color: var(--dark-background-color);

}
.submenu a img{
    border-radius: 10px;
    border:2px solid #3882F6 ;
    width: 10rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.comments{
    background-color: var(--section-background-color);
    padding:4rem 20rem 4rem 20rem;
    font-family: 'Roboto-LightItalic';
}
.comments b{
    text-align: right;
}
.footer{
    display: flex;
    flex-direction: column;
    
}

.box-container{
    background-color:var(--bottom-background-color);
    color: white;
    /* padding: 1.5em; */
    padding: 10px 10px;
    margin:auto;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    border-radius: 5px;
    width: 70%;
    height: 9rem;
    display: flex;
    justify-content: space-around; 
    align-items: center;  
}

/* .box{
    display: inline;
   
} */

.box-container button{
    background-color: var(--bottom-background-color);
    border-radius: 5px;
    border-color: white;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.credit{
    background-color: var(--dark-background-color);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}
 main-contact h1{
    text-align: center;
}
main-contact h4{
padding: 2rem 10rem 2rem 10rem;
text-align: center;
    
}
.singup-form{
    display: flex;
    margin: auto;
    width: 50%;
    flex-direction: column;
    padding: 2rem 10rem 2rem 10rem;
    text-align: center;
}
.singup-form input{
    padding: 1rem;
    margin: 0.4rem;
    border: 2px solid var(--bottom-background-color) ;
    border-radius: 10px;
    
}
.singup-form a button{
    background-color: var(--bottom-background-color);
    border-radius: 10px;
    border-color: white;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
